
.block{
  position: relative;
.input{
  border: 1px solid rgba(0,0,0,0.1);
  padding: 12px 20px;
  padding-right: 30px;
  width: 300px;
  border-radius: 10px;
  font-size: 16px;
  // transition: all 0.25s ease-in-out;

  // &:focus{
  //   border: 1px solid rgba(0,0,0,0.4);
  // width: 300px;
  // }
}

.clear{
  width: 24px;height: 24px;
  position: absolute;
  right:   5px;
  margin-top: 11px;
  opacity: 0.6;
  cursor: pointer;

  &:hover{
    opacity: 1;
  }
}
}